body {
	background-color: #d3d3d3;
	margin: 0;
}
h1 {
	display: table;
	margin: auto;
	font-family: Georgia;
	color: #fff;
}
#headerWrapper {
	background: none repeat scroll 0 0 #2F4779;
	border-bottom: 1px solid rgba(255, 255, 255, 0.9);
	display: block;
	padding: 10px 0;
	position: absolute;
	width: 100%;
	padding-bottom: 30px;
	padding-top: 30px;
}
#chart_div {
	display: table;
	margin: auto;
	position: absolute;
	margin-top: 140px;
	margin-left:228px;
	width: 1200px;
}
